<!DOCTYPE html>
<html>
  <head>
    <title>视频监控系统</title>
    <style>
      .image-box {
        text-align: center;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding: 10px;

      }
      .image {
        width: 40%;
        height: 40%;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="image-box">
      <img class="image" src="/video_feed" alt="Placeholder Image 1">
      <img class="image" src="/video_feed2" alt="Placeholder Image 2">
    </div>
  </body>
</html>
